<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
					http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans.xsd
					http://www.springframework.org/schema/aop
					http://www.springframework.org/schema/aop/spring-aop.xsd
					http://www.springframework.org/schema/tx
					http://www.springframework.org/schema/tx/spring-tx.xsd
					http://www.springframework.org/schema/mvc
					http://www.springframework.org/schema/mvc/spring-mvc.xsd
					http://www.springframework.org/schema/context
					http://www.springframework.org/schema/context/spring-context.xsd
		">

    <!--开启注解扫描  告知spring 没有bean 对象扫描都需要找类-->
    <context:component-scan base-package="controller,service,dao"></context:component-scan>

    <!--开启注解驱动  请求真实类之间关系处理 -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--配置SqlSession相关的操作-->
    <!--1.配置数据源(创建连接 原生 连接池 外部)-->
    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/zzt?useSSL=false"></property>
        <property name="username" value="root"></property>
        <property name="password" value="230204"></property>
    </bean>
    <!--2.配置SqlSessionFacotry-->
    <bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:configuration.xml"></property>
    </bean>
    <!--3.配置SqlSession对象-->
    <!--3.配置Mapper对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="dao"></property>
    </bean>


    <!-- 配置声明式事务 以下省略-->
    <!-- 创建一个spring提供好的事务处理bean对象 -->
    <bean name="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!-- 在创建一个事务bean对象的管理者 Manager 定义是数据读取的方式 -->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="save*"  propagation="REQUIRED" isolation="SERIALIZABLE" rollback-for="java.lang.Throwable" />
            <tx:method name="delete*"  propagation="REQUIRED" isolation="SERIALIZABLE" rollback-for="java.lang.Throwable" />
            <tx:method name="update*"  propagation="REQUIRED" isolation="SERIALIZABLE" rollback-for="java.lang.Throwable" />
        </tx:attributes>
    </tx:advice>
    <!-- 设置声明式事务切入点(目标的方法) -->
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* service.*.*(..))" />
    </aop:config>
</beans>