<component name="libraryTable">
  <library name="mybatis-3.5.2">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/lib/mybatis-3.5.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/mybatis-spring-2.0.1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>